.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.data,
.sortSteps {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.data > span,
.sortSteps > span {
  display: inline-block;
  text-align: center;
  width: 0.5rem;
  background: var(--purple-blue-gradient);
  border: none;
}
