.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  text-align: center;
  background: var(--purple-blue-gradient);
  padding: 0.5rem;
  width: 100%;
}

.title {
  color: var(--white-text);
}
